/**
 * Site Home Hero
 * ----------------------------------------------------------------------------
 */
.hero-home {
  z-index: 2;
  position: absolute;
  background: blanchedalmond;
  flex: 1;
  width: 100%;
  height: 100vh;
}

#content {
  margin-top: 100vh;
}